body {
	margin-top: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;

}
/* coloca o fundo da navegaçao*/
.topnav{
  left: -10px;
  position: relative;
  overflow: hidden;
  background-color: black;
  font-weight: bold;
  width: 101%;
}
/* estilo dos links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* muda a cor quando estamos sobre links */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* adiciona uma cor para onde estamos */
.topnav a.activate {
background-color: white;
color: black;

}
/* a sessão central do menu */
.topnav-centered p {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  padding-bottom: 40px;
  margin: 20px;
  font-weight: normal;
  transform: translate(-50%, -50%);
}
/* alinhamento do lado direito*/
.topnav-right {
	float: right;
}
/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right footer {
    float: none;
    display: block;
    width: 100%;
  }
 }
/*********************************************************/


/******************************************************/
/* conteudo do site */
#dirbox {
left: -10px;
position: relative;
float: left;
background: grey;
width: 657px;
height:280px;
border: 8px solid black;
}
#esqbox {
left: 10px;
float: right;
position: relative;
background: grey;
width:  657px;
height:280px;
border: 8px solid black;

}
/******************************************************/

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	overflow: hidden;
}

